h1{
    text-align: center;
    width: 100%;
    background-color: aqua;
    padding: 0px;
    margin: 0px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}