.box-count{
    display: flex;
    max-width: 200px;
}
.box-count button{
    background-color: cyan;
    border: none;
    color: black;
    margin: 0.2rem;
    padding: 0.2rem;
}
.box-count-children{
    display: flex;
    flex-direction: row;
}